html {
  --gui-background-color: #111111;
  --gui-text-color: #FFFFFF;
  --gui-color-primary: #1668dc;
  --gui-color-primary-active-darken: #15417e;
  --gui-color-border: #303030;
  --gui-color-danger: #dc4446;

  --gui-text-font-size: 14px;

  --gui-header-height: 50px;
  --gui-header-mobile-height: 50px;

  --gui-footer-height: 50px;
  --gui-footer-mobile-height: 80px;

  --gui-grid-width-xs: 100%;
  --gui-grid-width-sm: 540px;
  --gui-grid-width-md: 720px;
  --gui-grid-width-lg: 960px;

  --gui-grid-container: var(--gui-grid-width-lg);

  --gui-gutter-xs: 4px;
  --gui-gutter-sm: 8px;
  --gui-gutter-md: 12px;
  --gui-gutter-base: 16px;
  --gui-gutter-lg: 24px;
  --gui-gutter-xl: 32px;
  --gui-gutter-2xl: 48px;
  --gui-gutter-3xl: 64px;
  --gui-gutter-4xl: 80px;
  --gui-gutter-5xl: 96px;
  --gui-gutter-6xl: 112px;
--gui-transition-duration-very-fast: 100ms;
--gui-transition-duration-fast: 200ms;
--gui-transition-duration-normal: 300ms;
--gui-transition-duration-slow: 400ms;
--gui-transition-duration-very-slow: 500ms;
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gui-background-color);
  color: var(--gui-text-color);
  font-size: var(--gui-text-font-size);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  min-height: calc(100vh - var(--gui-header-height) - var(--gui-footer-height));
}

@media (max-width: 500px) {
  .main {
    min-height: calc(100vh - var(--gui-header-mobile-height) - var(--gui-footer-mobile-height));
  }
}

.container {
  max-width: var(--gui-grid-container)
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

/* ANT DESIGN OVERWRITES */
.ant-card {
  background: rgba(48, 48, 48, 0.15);
  border: 1px solid var(--gui-color-border);
  backdrop-filter: blur(8px);
}

.ant-card .ant-card-body {
  padding: var(--gui-gutter-base);
}

.ant-input-number {
  width: 100%;
}