.progress {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background-color: rgba(3, 166, 136, .2);
    overflow: hidden;
}

.progression {
    height: 6px;
    border-radius: 2px 0 0 2px;
    background-color: rgba(3, 166, 136, 1);
    transition: width var(--gui-transition-duration-slow) ease-in-out;
}

.progress.exceed {
    background-color: rgba(166, 48, 3, .2);
}

.progress.exceed .progression {
    background-color: #A63003;
}