.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gui-gutter-sm);
    padding-bottom: var(--gui-gutter-sm);
}
.actions {
    display: flex;
    gap: var(--gui-gutter-base);
}

.edit {
    color: var(--gui-color-primary);
}

.delete {
    color: var(--gui-color-danger);
}