.link {
    text-decoration: none;
}

.card:hover {
    border-color: var(--gui-color-primary);
    transition: all 100ms ease-in-out;
}

.card.exceed {
    background-color: rgba(166, 48, 3, .35);
    border-color: #A63003;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: var(--gui-gutter-xs);
}

.amount {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: var(--gui-gutter-xs);
}

.budget {
    opacity: .5;
}