.section {
    padding-top: var(--gui-gutter-xl);
    padding-bottom: var(--gui-gutter-2xl);
}

@media (max-width: 500px) {
    .section {
        padding-left: var(--gui-gutter-base);
        padding-right: var(--gui-gutter-base);
    }
}
