.footer {
    height: var(--gui-footer-height);
    background: rgba(25, 27, 31, 0.4);
    backdrop-filter: blur(8px);
    padding: 0 var(--gui-gutter-md);
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.copyright {
    opacity: .6;
    margin-bottom: 0;
}