.link {
    text-decoration: none;
}

.card:hover {
    border-color: var(--gui-color-primary);
    transition: all 100ms ease-in-out;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.budget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: rgba(55, 58, 66, 0.4);
}

.budgetBackground {
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.budgetIcon {
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin-left: var(--gui-gutter-sm);
}

.company {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: var(--gui-gutter-xs);
}

.label {
    max-width: calc(100vw - 160px);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.amount {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
}