.header {
    height: var(--gui-header-height);
    background: rgba(25, 27, 31, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    max-width: 100vw;
}

@media (max-width: 500px) {
    .header {
        padding: 0 var(--gui-gutter-base);
        height: var(--gui-header-mobile-height);
    }
}

.header::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    /*background: linear-gradient(blue, pink);*/
    height: 100%;
    width: var(--gui-gutter-base);
    z-index: 2;
}


.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--gui-header-height);
    flex-grow: 1;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--gui-gutter-lg);
}

.avatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: rgba(55, 58, 66, 0.4);
    transition: border var(--gui-transition-duration-very-fast) ease-in-out;
    background-position: center;
    background-size: cover;
    border: 1px var(--gui-color-border) solid;
}

.avatar.active {
    border: 1px var(--gui-color-primary) solid;
}