html {
  --gui-background-color: #111111;
  --gui-text-color: #FFFFFF;

  --gui-text-font-size: 14px;

  --gui-header-height: 50px;
  --gui-footer-height: 50px;
  
  --gui-grid-width-xs: 100%;
  --gui-grid-width-sm: 540px;
  --gui-grid-width-md: 720px;
  --gui-grid-width-lg: 960px;

  --gui-grid-container: var(--gui-grid-width-lg);

  --gui-gutter-xs: 4px;
  --gui-gutter-sm: 8px;
  --gui-gutter-md: 12px;
  --gui-gutter-base: 16px;
  --gui-gutter-lg: 24px;
  --gui-gutter-xl: 32px;
  --gui-gutter-2xl: 48px;
  --gui-gutter-3xl: 64px;
  --gui-gutter-4xl: 80px;
  --gui-gutter-5xl: 96px;
  --gui-gutter-6xl: 112px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gui-background-color);
  color: var(--gui-text-color);
  font-size: var(--gui-text-font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - var(--gui-header-height) - var(--gui-footer-height));
}

.container {
  max-width: var(--gui-grid-container)
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}